<!doctype html>
<html ng-app="checklistApp">

<head>
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons" media="screen,projection">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<!--class="blue-grey lighten-2"-->

<body ng-cloak>

  <div class="container">

    <div class="row" ng-controller="ItemController">
      <form name="itemForm" class="col s12" novalidate>

        <div class="row">
          <div class="input-field col s12">
            <input id="item-title" name="item-title" placeholder="let's do something" type="text" ng-model="newItem.title" ng-required="true">
            <label for="item-title">Add an item</label>
          </div>
        </div>

        <btn class="btn" ng-click="createItem(newItem, itemForm)">
          Create
        </btn>

        <div ng-repeat="item in items">
          {{ item.title }} {{ item.isDone }}
        </div>
        
      </form>      
    </div>
    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/itemController.js"></script>

</body>

</html>