<!doctype html>
<html ng-app="checklistApp">

<head>
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<!--class="blue-grey lighten-2"-->

<body layout="column" ng-cloak>

<div layout="column" ng-controller="ItemController">

  <div layout="column">
    <form name="itemForm"
          style="margin-top: 20px;"
          novalidate>

      <md-input-container>
        <input name="title"
               aria-label="title"
               ng-model="newItem.title"
               required
               placeholder="Add an item">

        <div ng-messages="itemForm.title.$error" ng-if="itemForm.title.$dirty">
          <div ng-message="required">required...</div>
        </div>
      </md-input-container>

      <md-button class="md-fab md-primary md-button" aria-label="Add an item"
                 style="float: right"
                 ng-disabled="itemForm.$invalid || isSaving"
                 ng-click="createItem(newItem, itemForm, items)">
        <md-icon md-font-library="material-icons">save</md-icon>
      </md-button>

    </form>
  </div>

  <div layout="column">

    <md-content>
      <md-list>
        <md-list-item ng-repeat="item in items">

          <md-switch ng-model="item.isDone" aria-label="is done?"
                     ng-change="onChangeItem(item)">
            {{ item.title }}
          </md-switch>

        </md-list-item>
      </md-list>
    </md-content>

    <div>
      <md-button class="md-fab md-primary md-hue-2 md-button" aria-label="Delete done items"
                 style="position: fixed; right: 10px; bottom: 50px;"
                 ng-if="items.length"
                 ng-click="deleteDoneItems(items)">
        <md-icon md-font-library="material-icons">clear</md-icon>
      </md-button>
    </div>
  </div>

</div>

<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/lodash/lodash.min.js"></script>

<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-messages/angular-messages.min.js"></script>

<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
<script src="./bower_components/angular-material/angular-material.min.js"></script>

<script src="./js/app.js"></script>
<script src="./js/itemController.js"></script>

</body>

</html>